@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background-image{
    position:absolute;
    top:-20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url("https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(20px);
}