

*{
    box-sizing: border-box;
}
body {
    margin:0;
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: steelblue;
}

.empty{
    height:150px;
    width:150px;
    background-color:#fff;
    margin: 10px;
    border: 3px solid black;
}

.fill{
    background: url("https://source.unsplash.com/random/150x150");
    height:145px;
    width:145px;
    cursor:pointer;
}

.hold{
    border:solid 5px #ccc;
}

.hovered{
    border-style: dashed;
    border-color: #fff;
    background-color: #333;
}

@media (max-width:800px){
    body{
        flex-direction: column;
    }
}