@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');


*{
    box-sizing: border-box;
}
body {
    font-family: 'Muli', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fbfcfe;
}

.container{
    background-color: #fff;
    padding:30px;
    max-width :1000px;
    border:3px solid black;
    text-align: center;
    border-radius: 10px;
}

.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;
}

.code{
    font-size: 75px;
    width:100px;
    height:120px;
    text-align: center;
    border:1px solid #eee;
    margin:1%;
    border-radius: 5px;
    font-weight: 300;
}

.code:active, .code:focus{
    outline:none;
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.25);
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.info{
    background-color: #eaeaea;
    color:#777;
    max-width:400px;
    line-height:20px;
    padding:10px;
}

@media (max-width:600px) {
    .code-container{
      flex-wrap: wrap;
    }
    .code{
        font-size: 60px;
        height: 80px;
        max-width:70px;
    }
}