@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    box-sizing: border-box;
}
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button{
    background-color: purple;
    padding:20px 30px;
    color:#fff;
    border: 1px solid purple;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

}

button .circle{
    position: absolute;
    width:100px;
    height:100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale 0.6s ease-out;
}

@keyframes scale {
    to{
        transform: translate(-50%,-50%) scale(3); 
        opacity: 0; 
    }
}